    <div class="shiopping-grids d-lg-flex">
         <div class="icon-gd"><span class="fa fa-truck" aria-hidden="true"></span>
            </div>
            <div class="icon-gd-info">
                <h3>FREE SHIPPING</h3>
                <p> We Deliver to the below Chennai locations:
                    Adyar, Anna Nagar, Anna Nagar West Extn, Besant Nagar, Chitalapakkam, Chrompet, Greems Road, Keezhakattalai, Kelambakkam, Kelambakkam,
                    Kotivakkam, Maduravoyal, Mambakkam, Medavakkam, Mogappair, Mylapore, Nandanam, Nerkundram, Pallavaram, Pammal, Polichalur, Porur</p>
            <p>© 2019 Veggi. All rights reserved | Design by
                <a href="http://veggi.com"> Veggi Nation.</a>
            </p>
        </div>
        </div>
       
