<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3>Organic Farming Natural <span>Veggitables </span></h3>
            <a href="shop.html" class="btn shop">Shop Now</a>   
        </div>
        <div class="col-sm-4">
            <img src="/assets/images/veg.jpg" alt="part image" >
        </div>
  </div>

  <div class="col-lg-8 gallery-content">
    <div class="row">
        <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal1"><img src="/assets/images/t.jpg" alt="Veggies" class="img-fluid mt-4"></a>
        </div>
        <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal2"><img src="/assets/images/o.jpg" alt="Veggies" class="img-fluid mt-4"></a>
        </div>
        <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal3"><img src="/assets/images/c.jpg" alt="Veggies" class="img-fluid mt-4"></a>
        </div>
         <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal2"><img src="/assets/images/l.jpg" alt="Veggies" class="img-fluid mt-4"></a>
        </div>
        <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal1"><img src="/assets/images/b.jpg" alt="Veggies" class="img-fluid mt-4"></a>
        </div>
        <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal2"><img src="/assets/images/cc.jpg" alt="Veggies" class="img-fluid mt-4"></a>
        </div>
        <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal3"><img src="/assets/images/ch.jpg" alt="Veggies" class="img-fluid mt-4"></a>
        </div>
          <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal3"><img src="/assets/images/p.jpg" alt="Veggies" class="img-fluid mt-4"></a>
        </div>
          <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal3"><img src="/assets/images/s.jpg" alt="Veggies" class="img-fluid mt-4"></a>
        </div>
          <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal3"><img src="/assets/images/r.jpg" alt="Veggies" class="img-fluid mt-4"></a>
        </div>
          <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal3"><img src="/assets/images/br.jpg" alt="Veggies" class="img-fluid mt-4"></a>
        </div>
            <div class="col-md-4 col-sm-6 gal-img">
            <a href="#gal3"><img src="/assets/images/be.jpg" alt="Veggies" class="img-fluid mt-4"></a>
        </div>

    </div>

</div>
  </div>