<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h3>Organic Farming Natural <span>Veggitables </span></h3>
            <a href="shop.html" class="btn shop">Shop Now</a>   
        </div>
        <div class="col-sm-4">
            <img src="/assets/images/veg.jpg" alt="part image" >
        </div>
  </div>

  <mat-grid-list rowHeight="170px" cols="4" [gutterSize]="'10px'">
    
    <mat-grid-tile>
      <mat-grid-tile-header>
        <h5>Tomato</h5>
        </mat-grid-tile-header>
       
        <mat-grid-tile-footer>
        <h5> 1kg 20Rs</h5>
        </mat-grid-tile-footer>  
      <img src="/assets/images/t.jpg" alt="Veggies" class="img-fluid mt-4">
    
    </mat-grid-tile>
    
    <mat-grid-tile>
      <mat-grid-tile-header>
        <h5>Onion</h5>
        </mat-grid-tile-header>
       
        <mat-grid-tile-footer>
        <h5> 1kg 30Rs</h5>
        </mat-grid-tile-footer>    
      <img src="/assets/images/o.jpg" alt="Veggies" class="img-fluid mt-4">
    </mat-grid-tile>
    
    <mat-grid-tile>
      <mat-grid-tile-header>
        <h5>Carrot</h5>
        </mat-grid-tile-header>
       
        <mat-grid-tile-footer>
        <h5> 1kg 40Rs</h5>
        </mat-grid-tile-footer> 
      <img src="/assets/images/c.jpg" alt="Veggies" class="img-fluid mt-4">
    </mat-grid-tile>
    
    <mat-grid-tile>
      <mat-grid-tile-header>
        <h5>Lady Finger</h5>
        </mat-grid-tile-header>
       
        <mat-grid-tile-footer>
        <h5> 1kg 35Rs</h5>
        </mat-grid-tile-footer> 
      <img src="/assets/images/l.jpg" alt="Veggies" class="img-fluid mt-4">
    </mat-grid-tile>
    
    <mat-grid-tile>
      <mat-grid-tile-header>
        <h5>Beans</h5>
        </mat-grid-tile-header>
       
        <mat-grid-tile-footer>
        <h5> 1kg 30Rs</h5>
        </mat-grid-tile-footer> 
      <img src="/assets/images/b.jpg" alt="Veggies" class="img-fluid mt-4">
    </mat-grid-tile>
    
    <mat-grid-tile>
      <mat-grid-tile-header>
        <h5>Potato</h5>
        </mat-grid-tile-header>
       
        <mat-grid-tile-footer>
        <h5> 1kg 35Rs</h5>
        </mat-grid-tile-footer> 
      <img src="/assets/images/p.jpg" alt="Veggies" class="img-fluid mt-4">
    </mat-grid-tile>
    
    <mat-grid-tile>
      <mat-grid-tile-header>
        <h5>Spniach</h5>
        </mat-grid-tile-header>
       
        <mat-grid-tile-footer>
        <h5> 1kg 15Rs</h5>
        </mat-grid-tile-footer> 
      <img src="/assets/images/s.jpg" alt="Veggies" class="img-fluid mt-4">
    </mat-grid-tile>
    
    <mat-grid-tile>
      <mat-grid-tile-header>
        <h5>Raddish</h5>
        </mat-grid-tile-header>
       
        <mat-grid-tile-footer>
        <h5> 1kg 25Rs</h5>
        </mat-grid-tile-footer>
      <img src="/assets/images/r.jpg" alt="Veggies" class="img-fluid mt-4"></mat-grid-tile>
    
    <mat-grid-tile>
      <mat-grid-tile-header>
        <h5>Brinjal</h5>
        </mat-grid-tile-header>
       
        <mat-grid-tile-footer>
        <h5> 1kg 30Rs</h5>
        </mat-grid-tile-footer>
      <img src="/assets/images/br.jpg" alt="Veggies" class="img-fluid mt-4"></mat-grid-tile>
    
    <mat-grid-tile>
      <mat-grid-tile-header>
        <h5>Beetroot</h5>
        </mat-grid-tile-header>
       
        <mat-grid-tile-footer>
        <h5> 1kg 25Rs</h5>
        </mat-grid-tile-footer>
      <img src="/assets/images/be.jpg" alt="Veggies" class="img-fluid mt-4"></mat-grid-tile>
    
    <mat-grid-tile>
      <mat-grid-tile-header>
        <h5>Capsicum</h5>
        </mat-grid-tile-header>
       
        <mat-grid-tile-footer>
        <h5> 1kg 38Rs</h5>
        </mat-grid-tile-footer>
      <img src="/assets/images/ch.jpg" alt="Veggies" class="img-fluid mt-4"></mat-grid-tile>
    
    <mat-grid-tile>
      <mat-grid-tile-header>
        <h5>Cucumber</h5>
        </mat-grid-tile-header>
       
        <mat-grid-tile-footer>
        <h5> 1kg 35Rs</h5>
        </mat-grid-tile-footer>
      <img src="/assets/images/cc.jpg" alt="Veggies" class="img-fluid mt-4"></mat-grid-tile>
  
  </mat-grid-list>
  
  </div>

  <div><pre style="font-size:14px; margin-top:20px">
    
</pre></div>